.field
  =f.label :gluten
  =f.check_box :gluten, class: 'form-template'

.field
  =f.label :dairy
  =f.check_box :dairy, class: 'form-template'

.field
  =f.label :treenuts
  =f.check_box :treenuts, class: 'form-template'

.field
  =f.label :beef
  =f.check_box :beef, class: 'form-template'

.field
  =f.label :pork
  =f.check_box :pork, class: 'form-template'

.field
  =f.label :soy
  =f.check_box :soy, class: 'form-template'

.field
  =f.label :egg
  =f.check_box :egg, class: 'form-template'

.field
  =f.label :shellfish
  =f.check_box :shellfish, class: 'form-template'

.field
  =f.label :peanut
  =f.check_box :peanut, class: 'form-template'

.field
  =f.label :fish
  =f.check_box :fish, class: 'form-template'

.field
  =f.label :sesame
  =f.check_box :sesame, class: 'form-template'

.field
  =f.label :wheat
  =f.check_box :wheat, class: 'form-template'
.field
  =f.label :other
  =f.text_field :other, class: 'form-template'
