#main
  form_tag
  %input{:class => "search_full_width", :id => "searchbar", :name => "query", :placeholder => "Search Restaurants, Restrictions...",:type => "text", :autocomplete => "off"}

  %h1 Home#index
  %p Find me in app/views/home/index.html.haml
