#main.container
  %h3.header Edit Food Allergens and Restrictions
  %div.info
    %p
      For easier restaurant search, save your allergens and dietary restrictions.
      Come back and reset your food restrictions anytime!


  =form_for @user, :method => :patch do |f|
    =render 'food_form_template', f: f
    .field
      =f.submit "Update Food Allergens and Restrictions"
