%div.top
  %div.search_box
    =form_tag search_restaurants_path, :method => :get do
      %input{:class => "search_full_width", :id => "searchbar",:type => "search", :name => "query", :placeholder => "Search Restaurants", :autocomplete => "off", :min => 1}
      %button#submit{:type => "submit"}
        %i.fas.fa-search
      =select_tag :query_type, options_for_select([["Restaurant Name","name"],["Restaurant URL", "url"]],1), required: true
      %div.attributes
        -Food.generate_tags.each do |tag|
          %input{type: "checkbox", name: "#{tag}", id:"#{tag} Free", value: "unchecked", display: "inline-block"}= "#{tag} free".titleize
