.field{
  font-family: 'Armata';
  font-size: 10pt;
  display: block;
  text-align:center;
  label{
    text-align:center;
    font-family: 'Armata';
    font-size: 10pt;
  }
}
#description_label{
  vertical-align: middle;
}
#description_box{

  // height: 10em;
  // width: 20em;
}
