.bottom{
  background-color: white;
  margin: auto;
  width: 90%;
  height: auto;
  .row{
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.result#image img{
  width:100%;
}
.result#title{
  padding-left: .1em;
  a {
    font-family: 'Armata';
    font-size: 1.2em;
    text-align: left;
    position: relative;
  }
  #url{
      font-family: 'Armata';
      font-size: .8em;
      color: black;
      word-wrap: break-word;
    }
}

.result#cuisine{
    font-family: 'Armata';
    font-size: 0.9em;
    text-align: center;
    padding-bottom: 10px;
    width: .5em;
    max-width: 25em;
}
.result#description{
  font-family: 'Armata';
  font-size: 0.9em;
  text-align: center;
  padding-bottom: 10px;
}
