.name{
  text-align: center;
  font-size: 1em;
  padding-bottom: 10px;
  color: #D46A6A;
}

.description{
  text-align: center;
  font-size: 1em;
  padding-bottom: 10px;
}
.ingredients{
  font-size: 1em;
  padding-bottom: 10px;
  text-align: center;
  color: #070404;
}
.c{
  font-size: 1.2em;
  padding-bottom: 10px;
  text-align: center;
}
.add{
  font-size: 1.2em;
  padding-bottom: 10px;
  text-align: center;
}
.u{
  font-size: 1.2em;
  padding-bottom: 10px;
  text-align: center;
}
