.header{
  padding-top: 10px;
    background-color: white;
    text-align: center;
    font-size: 2em;
    padding-bottom: 10px;
    color: #D8B25A;
    font-weight: bold;
}
.name{
  text-align: center;
  font-size: 1em;
  padding-bottom: 10px;
  color: #D8B25A;
  background-color: white;
}

.description{
  text-align: center;
  font-size: 1em;
  padding-bottom: 10px;
  background-color: white;
}
.ingredients{
  font-size: 1em;
  padding-bottom: 10px;
  text-align: center;
  color: #070404;
  background-color: white;
}
.c{
  font-size: 1.2em;
  padding-bottom: 10px;
  text-align: center;
  background-color: white;
}
.add{
  font-size: 1.2em;
  padding-bottom: 10px;
  text-align: center;
  background-color: white;
}
.u{
  font-size: 1.2em;
  padding-bottom: 10px;
  text-align: center;
  background-color: white;
}
