/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body { height: 100%; width: 100%; margin: 0; background-color: #862633}
.webtitle{
  font-size: 30pt;
}
.webtitle{
  text-align: center;
}
.navigations{
  .nav_box ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #01232D;
    font-family: 'Armata';
    font-size: 12pt;
    text-align: center;
  }
  .nav_box li{
     float: left;
     margin-left: 30px;
     margin-right: 30px;
  }
  .nav_box a{
    // color: #01213C;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    &:hover {
      color: #fff;
      background-color: #D8B25A;
    }

  }
}

.top{
  // background: lightblue;
  width: 90%;
  height: 40%;
  margin: auto;

  .search_box{
    background: #e1e1dc;
    margin: auto;
    display: inline-block;
    white-space: normal;
    align-content: center;
    position: relative;
    padding: 5%;
    padding-top: 100px;

    .icon{
      position: absolute;
      color: #4f5b66;
    }

    .search_full_width#searchbar{
      margin: auto;
      position: relative;

      background: #ffffff;
      border-style: none;
      border-radius: 5px;


      width: 50%;
      height: 10%;
      padding: 20px;
      font-family: 'Armata';
      font-size: 12pt;
    }
    #submit{
      border-radius: 0px;
      display: inline-block;
      margin-left: -1%;
      width: 10%;
      height: 60px;
      padding-top: 2px;
      position: relative;
      border: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 5px;

      background-color: #D8B25A;
    }
    .attributes{
    }
    .attribute_container{
      .attribute{
        padding-top: 20px;
        font-family: 'Armata';
        font-size: 10pt;
        display: flex;
          label{
            display: inline-block;
            vertical-align: bottom;

        }
      }
    }

    .order_container{
      font-family: 'Armata';
      font-size: 10pt;
      select{
        font-family: 'Armata';
        font-size: 10pt;
      }
    }
    .search_container{
      position: relative;
      font-family: 'Armata';
      font-size: 12pt;

      .search_attributes{
        select{
          vertical-align: bottom;
          position: relative;
          font-family: 'Armata';
          font-size: 12pt;
        }
        label{
          vertical-align: top;
          position: absolute;
          margin-left: 0.5em;
          padding-top: 18px;
        }
      }
    }
  }
}
