.top{
  width: 90%;
  height: 40%;
  margin: auto;
  padding-left: 0;
  padding-right: 0;

  .search_box{
    width: 100%;
    background: #e1e1dc;
    margin: auto;
    display: inline-block;
    white-space: normal;
    align-content: center;
    position: relative;
    padding-top: 50px;
    padding:5%;

    .icon{
      position: absolute;
      color: #4f5b66;
    }

    .search_full_width#searchbar{
      margin: auto;
      position: relative;

      background: #ffffff;
      border-style: none;
      border-radius: 5px;


      width: 45%;
      height: 10%;
      padding: 20px;
      font-family: 'Armata';
      font-size: 12pt;
    }
    #submit{
      border-radius: 0px;
      display: inline-block;
      margin-left: -1%;
      width: 10%;
      height: 60px;
      padding-top: 2px;
      position: relative;
      border: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 5px;

      background-color: #D8B25A;
    }

    .order_container{
      font-family: 'Armata';
      font-size: 10pt;
      select{
        font-family: 'Armata';
        font-size: 10pt;
      }
    }
    .search_container{
      position: relative;
      font-family: 'Armata';
      font-size: 12pt;

      .search_attributes{
        select{
          vertical-align: middle;
          position: relative;
          font-family: 'Armata';
          font-size: 0.8em;
        }
        label{
          font-size: 1em;
          vertical-align: top;
          position: absolute;
          text-align: left;
        }
      }
    }
  }
}


.attribute_container{
  .attribute{
    width: 100%;
    padding-top: 20px;
    font-family: 'Armata';
    display: flex;
      label{
        height: 100%;
        display: inline-block;
        vertical-align: bottom;
        font-size: .67em;
        margin: 0;
    }
  }
}

.attribute_button {
  width: -webkit-fill-available;
  margin: 4px;
  border-radius: 4px;
  border: 1px solid gray;
  overflow: auto;
  float: left;
  text-align: center;
  display: block;

  label span {
      height: 100%;
      width: -webkit-fill-available;
     text-align:center;
     padding:3px 0px;
     display:block;
   }
  label{
    float: left;
    width: -webkit-fill-available;
  }

  input:checked + span{
    background-color: #991111;
    color:#fff;
  }
}
