/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body { height: 100%; width: 100%; margin: 0; background-color: #ffdfba}
.webtitle{
  font-size: 30pt;
}
.navigations{
  .nav_box ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  .nav_box li{
     float: left;
  }
  .nav_box a{
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 14px 16px;

  }
}

.top{
  background: lightblue;
  width: 90%;
  height: 40%;
  margin: auto;

  .search_box{
    background: #baffc9;
    margin: auto;
    display: inline-block;
    white-space: normal;
    align-content: center;
    position: relative;
    padding: 5%;

    .icon{
      position: absolute;
      color: #4f5b66;
    }

    .search_full_width#searchbar{
      margin: auto;
      position: relative;

      background: white;
      border-style: none;
      border-radius: 5px;


      width: 50%;
      height: 10%;
      padding: 20px;
      font-family: 'Armata';
      font-size: 12pt;
    }
    #submit{
      display: inline-block;
      margin-left: -1%;
      width: 10%;
      height: 60px;
      padding-top: 4px;
      position: relative;
      border: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      background-color: #bae1ff;
    }
    .attributes{
      background: green;
    }

  }
}
