// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2{
  font-family: 'Armata';
}
h3{
  font-family: 'Armata';
}

table{
  font-family: 'Armata';
}
.field{
  font-family: 'Armata';
  font-size: 10pt;
  label{
    font-family: 'Armata';
    font-size: 10pt;
  }
}
.actions{
  font-family: 'Armata';
  font-size: 10pt;
  label{
    font-family: 'Armata';
    font-size: 10pt;
  }
}
a{
  font-family: 'Armata';
  font-size: 10pt;
}
